
@{
    ViewBag.Title = "About";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="CtgryAdd">
<h2>Hakkında</h2>
<div class="form-horizontal">
	<div class="form-group">
		<h3>Selamlar,</h3>
		<br/>
		<p>Ben Muhammed Emre KARPINAR İstanbul Esenyurt Üniversitesi Bilgisayar Programcılığı Bölümü öğrencisiyim, Mesleki Proje dersi için hazırlamış olduğum E-Ticaret sitesini sizlerle paylaşıyorum.
			Projemin amacı insanların doğayla olan ilişkisini arttırmak ve onların ihtiyacı olan ürünleri temin etmek üzerine bir E-Ticaret sitesi hazırlamış bulunmaktayım. Site üzerinde kullanılan css ve html kodlarının tamamı bana aittir.
		</p><br />
		<p>
			Yapmış olduğum sitenin çok başarılı olduğunu düşünmüyorum fakat tek başıma elimden gelenin en iyisini yapmaya çalıştığımı temin ederim, site güvenlik açısında büyük ihtimalle çok fazla açık barındırıyor bunun önüne geçebilcek kadar siber güvenlik bilgim bulunmuyor 
			ama sitenin server tarafını çok yormaması için elimden geleni yaptım neredeyse %80lik bir kısmı client tarafında yapıyor garanti bilgileri server tarafına yolluyor ve geri dönütünü alıyor.
		</p><br />
		<p>
			Site üzerine kategori menüsünü koymak istemedim bunun sebebi çok fazla kategori barındırabilen bir site olmayacaktı ve bu sitenin görüntüsünü büyük ölçüde değiştirmek demek oluyordu yine de admin tarafında karışıklık olmaması adına kategori sınıfını eklemiş bulunmaktayım
			örneğin çadırlar için ayrı bir kategori oluşturdum çünkü site üzerinde farklılık gösterecek ürünün çadır olduğunu düşündüm bunu kamp kategorisi altında toplamak yerine çadır kategorisinde toplamak bana daha mantıklı geldi aynı zamanda çadır kategorisinde çadırın malzemeleri de bulunuyor buna örnek olarak çadırları sabitlemede kullanılan kazıklar.
		</p>
		<p><br />
			Site büyük ölçüde dinamik bir yapıya sahip bu hem admin tarafında kullanılabilecek opsiyonları çoğaltıyor hem de kullanıcı tarafında kolay kullanım sağlıyor.
		</p>
		<p>
			<br />
			<h4>Öğrenci Bilgileri</h4>
			Muhammed Emre KARPINAR<br />
			2011100088<br />
			Bilgisayar Programcılığı<br />
			<a class="btn-S" href="https://github.com/muhammedemrekarpinar">Github</a>
			</p>
		</div>

	</div>
</div>